:root{
  --accents-5: #888;
  --border-color:#ffffff24;
  --light-dark: #1a1a1a;
}
a:-webkit-any-link {
  color: unset;
}
body {
  margin: 0;
  box-sizing: border-box;
  background: #000;
  color: #fff;
  font-family: sans-serif;
}
header{
  border-bottom: 1px solid var(--border-color);
}
.header-inner {
  padding: 20px 24px 0 24px;
}
.s-nav  a{
  color: var(--accents-5);
}
span.name-img .img img {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin-right: 4px;
}
a,span{
  display: inline-block;
  text-decoration: none;
}
.logo {
  margin-right: 25px;
}
.s-nav a {
  color: var(--accents-5);
  font-size: 14px;
  padding: 0 8px;
  -webkit-transition: color.2s ease;
  -moz-transition: color.2s ease;
  -o-transition: color.2s ease;
  transition: color.2s ease;
}
.s-nav a:hover {
  color: #fff;
}
span.s-nav.btn {
  border: 1px solid var(--border-color);
  padding: 6px 4px;
  border-radius: 5px;
}
.lower-navs {
  padding: 24px 0 13px 0;
}
.lower-navs span.s-nav:first-child a {
  padding-left: 0;
}
span.s-nav.active a {
  color: #fff;
}
span.s-nav.active:after {
  content: "";
  position: absolute;
  width: 66px;
  height: 2px;
  background: #fff;
  left: -8px;
  bottom: -12px;
}
span.s-nav.active {
  position: relative;
}
.container {
  max-width: 1248px;
  width: 100%;
  margin: 0 auto;
}
.projects-boxex {
  padding-top: 80px;
}
.s-p-b {
  border: 1px solid var(--border-color);
  background: #0a0a0a;
  padding: 24px;
  border-radius: 6px;
  position: relative;
}
.bottom {
  min-height: 4rem;
}
.url, .bottom > div span{
  color: var(--accents-5);
}
.s-p-b:hover{
  background: var(--light-dark);
  cursor:pointer;
}
span.redirect {
  position: absolute;
  background: #fff;
  right: 0;
  top: 0;
  transform: translate(25%,-25%);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: .15s ease;
  transition-property: opacity,transform;
}
.s-p-b:hover span.redirect {
  opacity:  1;
  transform: translate(25%,-35%);

}
.url, .bottom {
  font-size: 15px;
}
.url {
  padding-top: 3px;
}